span {
  margin: 5px;
  font-family: "Courier New", Courier, monospace;
}

.home-page {
  background: url(../Images/detail_background.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.prev-next {
  cursor: pointer;
  background-color: white;
  border: 1px solid green;
  width: 5%;
  border-radius: 10px;
  text-align: center;
  transition-duration: 0.5s;
  font-family: "Courier New", Courier, monospace;
  margin: 2px;
}

.prev-next:hover {
  background-color: green;
  color: white;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
